<html> 
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
    <body>
            <h1>Delete Task By TaskID</h1>
            <a href= '/'> Home </a><br>
            <a href= '/addtask'> Add New Task </a><br>
            <a href= '/listtasks'> List All Tasks </a><br>
            <a href="/deletecompletedtasks">Delete The Completed Tasks</a><br>
            <a href="/updatebyid">Update Task Status By TaskID</a><br>
            <a href="/insertdeveloper">Add New Developer</a><br>
            <a href= '/getdevelopers'> List All Developers </a><br>

            <form action = "/deletebyid" method = 'POST'>
            Task ID <input type = "text" name = "_id"/><br>
            <button>Submit</button>
        </form>
    </body>
</html>