<html> 
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
    <body>
            <h1>Delete all completed tasks</h1>
            <a href= '/'> Home </a><br>
            <a href= '/addtask'> Add New Task </a><br>
            <a href= '/listtasks'> List All Tasks </a><br>
            <a href= '/deletebyid'> Delete Task By TaskID </a><br>
            <a href="/updatebyid">Update Task Status By TaskID</a><br>
            <a href="/insertdeveloper">Add New Developer</a><br>
            <a href= '/getdevelopers'> List All Developers </a><br>
            <form action="/deletecompletedtasks" method="post">
                <button>Confirm the deletion</button>
            </form>
        </form>
    </body>
</html>