<html> 
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
    <body>
            <style>
                    table,th,td {
                        border: 1px solid black;
                    }
            </style>
        <h1>List all tasks</h1>
            <a href= '/'> Home </a><br>
            <a href= '/addtask'> Add New Task </a><br>
            <a href= '/deletebyid'> Delete Task By TaskID </a><br>
            <a href="/deletecompletedtasks">Delete The Completed Tasks</a><br>
            <a href="/updatebyid">Update Task Status By TaskID</a><br>
            <a href="/insertdeveloper">Add New Developer</a><br>
            <a href= '/getdevelopers'> List All Developers </a><br>
            <table>
                <tr>
                    <th>
                        Task ID
                    </th>
                    <th>
                        Task Name
                    </th>
                    <th>
                        Task Due Date
                    </th>
                    <th>
                        Assign To
                    </th>
                    <th>
                        Task Status
                    </th>
                    <th>
                        Task Description
                    </th>
                </tr>
                <% for (let i = 0; i<tasks.length; i++){ %>
                    <tr> 
                        <td>
                            <%= tasks[i]._id %>
                        </td>
                        <td>
                            <%= tasks[i].name %>
                        </td>
                        <td>
                            <%= tasks[i].due %>
                        </td>
                        <td>
                            <%= tasks[i].assignto %>
                        </td>
                        <td>
                            <%= tasks[i].status %>
                        </td>
                        <td>
                            <%= tasks[i].description %>
                        </td>
                    </tr>
                <%}%>
                 
                
            </table>
        </form>
    </body>
</html>